.home__hero-section{
  padding: 160px 0;
}

.home__hero-row{
  align-items: center;
}

.row{
  display: flex!important;
  margin-right: -15px;
  margin-bottom: -15px;
  margin-left: -15px;
  flex-wrap: wrap;
  align-content: stretch;
}

.col{
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 1;
  max-width: 50%;
  flex-basis: 50%;
}

.home__hero-text-wrapper {
  max-width: 540px!important;
  padding-top: 0;
  padding-bottom: 60px;
}

.top-line {
  color: rgb(104, 123, 148);
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.heading {
  margin-bottom: 20px;
  font-size: 55px;
  line-height: 1.1;
  font-weight: 600;
  color:#4f4e59;
}

.descript{
  max-width: 440px;
  color: rgb(104, 123, 148);
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 24px;
}

.home__hero-img-wrapper{
  max-width: 555px;
}

.home__hero-img {
  max-width: 100%;
  padding-right: 0;
  margin: 0 0 0 10px;
}

.img{
  border: 0;
  width: 100%;
  max-width: 95%;
  vertical-align: middle;
  display: inline-block;
}

.Bar{
  background-color: #4f4e59;
  color: aliceblue;
  height: 60px;
}

.Bar-end{
  background-color: #4f4e59;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center!important;  */
  height: 60px;
}

.Bar-text{
  color: aliceblue;
  font-size: 23px;
}

@media screen and (max-width: 991px){

  .container{
    padding-right: 20px!important;
    padding-left: 20px!important;
  }
  
}

@media screen and (max-width: 768px){

  .home__hero-text-wrapper{
    padding-bottom: 0px!important;
  }

  .col{
    width: 100%!important;
    max-width: 100%!important;
    flex-basis: 100%!important;
  }
  
}
