.NavbarItems{
  background-color: #4f4e59;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:1.2rem;
}

.Logo{
  display: grid;
  height: 68px;
  width: 180px;
  cursor: pointer;
}

.Navbar-logo{
  color:aliceblue;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
}

.nav-menu{
  display: grid;
  grid-template-columns: repeat(5,auto);
  grid-gap: 12px;
  list-style: none;
  width: 70vw;
  text-align: center;
  justify-content: end;
  margin-right: 2rem;
}

.nav-links{
  color:aliceblue;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover{
  background-color:rgb(39, 38, 41);
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-bar{
  color:bisque;
}

.nav-links-mobile{
  display: none;
}

.menu-icon{
  display: none;
}

@media screen and (max-width: 960px){
  .NavbarItems{
    position: relative;
  }

  .nav-menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    position: absolute;
    top: 60px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active{
    background:#4f4e59;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-link{
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover{
    background-color: rgb(54, 61, 90);
    width: 100%;
    border-radius: 0;
  }

  .navbar-logo{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%,50%); 
  }

  .menu-icon{
    display: block;
    color: aliceblue;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%,60%);
    font-size: 1.8rem;
    cursor: pointer ;
  }

  .fa-time{
    color: aliceblue;
    font-size: 2rem;
  }

  .nav-links-mobile{
    display: block;
    text-align: center;
    padding: 1rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: rgb(158, 149, 149);
    text-decoration: none;
    color: rgb(236, 236, 236);
    font-size: 1.3rem;
  }

  .nav-links-mobile:hover{
    background: rgb(54, 61, 90);
    color: rgb(236, 236, 236);
    transition: 250ms;
  }
  
  Button{
    display: none;
  }
}