.Main{
  font-family: 'Dosis', sans-serif !important;
}

.Header{
  background-color: #4f4e59;
  color: aliceblue !important;
  height: 80px;
  font-family: 'Dosis', sans-serif !important;
}

.btn-close {
    filter: invert(1) grayscale(100%) brightness(200%);
}

.Button-Save{
   background-color: #4f4e59!important;
   color:aliceblue!important;
   outline-color: 1px solid #4f4e59!important;
   width: 80px;
   height: 40px;
}


.Button-Save:hover{
   background-color: rgb(245, 237, 164)!important;
   color: #4f4e59!important;
   outline-color: 1px solid #4f4e59!important;
   width: 80px;
}

.Nav-todo{
  background-color: #4f4e59;
  border-radius: 5px;
  color: aliceblue;
  padding: 5px;
  font-family: 'Dosis', sans-serif !important;
  width: 90% !important;
}

.To-do{
  font-family: 'Dosis', sans-serif !important;
  padding: 10px;
  border-radius: 5px;
  background-color: #eef0f7;
  height: 450px;
  align-items: center !important;
  width: 90% !important;
}

.icon{
  justify-content: space-between;
}

.calendar{
  background-color: rgb(248, 245, 204);
}

.ListAdjust{
  display: flex !important;
  justify-content: center !important; 
}

.ListAdjust2{
  width: 100%;
  padding: 10px;
  display: inline-flex !important;
  /* grid-template-columns: repeat(3,auto); */
  /* grid-gap: 5% !important; */
  flex-direction: row ;
  justify-content: space-between !important; 
}

.photo{
  width: 150px;
  height: 100% ;
}

#Cal{
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.HorizontalAppointment-content-119{
  color: #4f4e59 !important;
}

#allplan{
	margin: 1.5rem;
}

.row1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#tododo{
  justify-content: space-around !important;
}

.container-lg{
  justify-content: space-around !important;
}

.checkboxOut-5{
  background-color: rgb(252, 169, 189);
  filter: brightness(110%);
  /* border-radius: 0.2em; */
  padding : 0.2rem;
  border-radius: 3px 0px 0px 3px;
  display: flex;
  align-items: center;
  box-shadow: 0.5px 0.5px 1px #4f4e595b;
}

.checkboxOut-4{
  background-color: rgb(248, 189, 166);
  filter: brightness(110%);
  /* border-radius: 0.2em; */
  padding : 0.2rem;
  border-radius: 3px 0px 0px 3px;
  display: flex;
  align-items: center;
  box-shadow: 0.5px 0.5px 1px #4f4e595b;
}

.checkboxOut-3{
  background-color: rgb(250, 236, 174);
  filter: brightness(110%);
  /* border-radius: 0.2em; */
  padding : 0.2rem;
  border-radius: 3px 0px 0px 3px;
  display: flex;
  align-items: center;
  box-shadow: 0.5px 0.5px 1px #4f4e595b;
}

.checkboxOut-2{
  background-color: rgb(216, 253, 195);
  filter: brightness(110%);
  /* border-radius: 0.2em; */
  padding : 0.2rem;
  border-radius: 3px 0px 0px 3px;
  display: flex;
  align-items: center;
  box-shadow: 0.5px 0.5px 1px #4f4e595b;
}

.checkboxOut-1{
  background-color: rgb(241, 215, 252);
  filter: brightness(110%);
  /* border-radius: 0.2em; */
  padding : 0.2rem;
  border-radius: 3px 0px 0px 3px;
  display: flex;
  align-items: center;
  box-shadow: 0.5px 0.5px 1px #4f4e595b;
}

.labelOut-5{
  background-color: rgb(252, 169, 189);
  /* border-radius: 0.2em; */
  margin-left: 0.1rem;
  padding : 0.3rem;
  width: 100%;
  border-radius: 0px 3px 3px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0.5px 0.5px 1px #4f4e595b;
}

.labelOut-4{
  background-color: rgb(248, 189, 166);
  /* border-radius: 0.2em; */
  margin-left: 0.1rem;
  padding : 0.3rem;
  width: 100%;
  border-radius: 0px 3px 3px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0.5px 0.5px 1px #4f4e595b;
}

.labelOut-3{
  background-color: rgb(250, 236, 174);
  /* border-radius: 0.2em; */
  margin-left: 0.1rem;
  padding : 0.3rem;
  width: 100%;
  border-radius: 0px 3px 3px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0.5px 0.5px 1px #4f4e595b;
}

.labelOut-2{
  background-color: rgb(216, 253, 195);
  /* border-radius: 0.2em; */
  margin-left: 0.1rem;
  padding : 0.3rem;
  width: 100%;
  border-radius: 0px 3px 3px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0.5px 0.5px 1px #4f4e595b;
}

.labelOut-1{
  background-color: rgb(241, 215, 252);
  /* border-radius: 0.2em; */
  margin-left: 0.1rem;
  padding : 0.3rem;
  width: 100%;
  border-radius: 0px 3px 3px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0.5px 0.5px 1px #4f4e595b;
}

.boxOut{
  display: flex;
  width: 100%;
}

.cbochk{
  opacity: 0.5;
}

.fa-edit:hover{
  opacity: 0.5;
}

.shirtC{
  font-size: 1.5rem;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.932);
  margin-inline-start: 1em;
  margin-left: 0.5rem;
}