body{
  font-family: 'Dosis', sans-serif !important;
  color:#4f4e59;
}

.Id{
  display: flex!important;
  justify-content:left!important; 
  left:5rem!important; 
}

.Page{
  height: 50rem!important;
  display: flex !important;
  flex-wrap: wrap !important;
}

.Topic{
  font-size: 20px;
  background-color: rgba(245, 237, 164, 0)!important;
}

.Line{
  width: 10rem!important;
  background-color: rgb(192, 238, 154)!important;
  color: #4f4e59!important;
  display: flex!important;
  justify-content:center!important; 
  border: 0.5px solid #4f4e59!important;
}

.Line:hover{
  width: 10rem!important;
  background-color: rgb(70, 87, 70)!important;
  color: aliceblue!important;
  display: flex!important;
  justify-content:center!important; 
  border: 0.5px solid #4f4e59!important;
}

.LineDisconnect{
  width: 10rem!important;
  background-color: rgb(248, 189, 202)!important;
  color: #4f4e59!important;
  display: flex!important;
  justify-content:center!important; 
  border: 0.5px solid #4f4e59!important;
}

.LineDisconnect:hover{
  width: 10rem!important;
  background-color: rgb(117, 87, 87)!important;
  color: aliceblue!important;
  display: flex!important;
  justify-content:center!important; 
  border: 0.5px solid #4f4e59!important;
}

.Edit{
  width: 5rem!important;
  background-color: rgb(245, 237, 164)!important;
  color: #4f4e59!important;
  display: flex!important;
  justify-content:center!important; 
}

.Edit:hover{
  width: 5rem!important;
  background-color: rgb(216, 213, 175)!important;
  color: #4f4e59!important;
  display: flex!important;
  justify-content:center!important; 
}

.Add{
  width: 5rem!important;
  background-color: rgb(245, 237, 164)!important;
  color: #4f4e59 !important;
  display: flex!important;
  justify-content:center!important; 
}

.SButton{
  display: flex!important;
  justify-content:right!important;
  width: 50px;
  position:relative;
  left:-15px;
}

.AButton{
  display: flex!important;
  justify-content:right!important;
  width: 50px;
  position:relative;
  left:-15px;
}

.Tags{
  width: 40px;
  justify-content:center!important;
}

#button-addon2{
 width: 60px;
 height: 40px!important;
 display: flex!important;
 background-color: rgb(245, 237, 164)!important;
 color: #4f4e59!important;
 justify-content:center!important;
}

#button-addon2:hover{
 width: 60px;
 display: flex!important;
 background-color: #4f4e59!important;
 color: aliceblue!important;
 justify-content:center!important;
}

.MPic {
  top: 250px !important;
  max-width: 95%;
  padding-right: 0;
  margin: 0 0 0 10px;
}

.Pic{
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}


@media screen and (max-width: 603px){
  .MPic{
  top: 500px !important;
  max-width: 95%;
  padding-right: 0;
  margin: 0 0 0 10px;
  }

  .Pic{
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  }
}

.form-control:read-only
{
  /* background-color: #e9ecef; */
  opacity: 1;
  background-color: #cbdbe9b8 !important; 
}

.swal-footer{
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.swal-button-container{
  display: flex;
}

@media screen and (max-width: 960px){
  Button {
      display: inline-block !important;
  }
}